MOLLIE_API_KEY=
MOLLIE_WEBHOOK_URL=https://jouwdomein.nl/api/webhook
SERPER_API_KEY=
SANCTIONS_API_KEY=
ANTHROPIC_API_KEY=
KVK_API_KEY=
RESEND_API_KEY=
SUPABASE_URL=https://nvgddulgohfgzxtvobih.supabase.co
SUPABASE_SERVICE_KEY=
MULLVAD_PROXY=socks5://nl-ams-wg-socks5-001.relays.mullvad.net:1080
MULLVAD_ENABLED=true
ADMIN_SECRET=
